<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/F:/TIBCO_HOME_6.5.1/bw/6.5/config/drivers/shells/jdbc.oracle.runtime//hotfix/runtime/plugins" type="Directory"/>
<location path="/F:/TIBCO_HOME_6.5.1/bw/6.5/config/drivers/shells/jdbc.oracle.runtime//runtime/plugins" type="Directory"/>
<location path="/F:/TIBCO_HOME_6.5.1/bw/palettes/bwmq/8.6//hotfix/runtime/plugins" type="Directory"/>
<location path="/F:/TIBCO_HOME_6.5.1/bw/palettes/bwmq/8.6//runtime/plugins" type="Directory"/>
<location path="/F:/TIBCO_HOME_6.5.1/bw/palettes/sp/6.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/F:/TIBCO_HOME_6.5.1/bw/palettes/sp/6.1//runtime/plugins" type="Directory"/>
<location path="/F:/TIBCO_HOME_6.5.1/bw/palettes/swift/6.5//hotfix/runtime/plugins" type="Directory"/>
<location path="/F:/TIBCO_HOME_6.5.1/bw/palettes/swift/6.5//runtime/plugins" type="Directory"/>


<location path="F:/TIBCO_HOME_6.5.1/bw/6.5/system/hotfix/lib/common" type="Directory"/>
<location path="F:/TIBCO_HOME_6.5.1/bw/6.5/system/lib/common" type="Directory"/>

<location path="F:/TIBCO_HOME_6.5.1/bw/6.5/system/hotfix/palettes" type="Directory"/>
<location path="F:/TIBCO_HOME_6.5.1/bw/6.5/system/palettes" type="Directory"/>

<location path="F:/TIBCO_HOME_6.5.1/bw/6.5/system/hotfix/shared" type="Directory"/>
<location path="F:/TIBCO_HOME_6.5.1/bw/6.5/system/shared" type="Profile"/>
</locations>
</target>
