{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "bw.resource.jdbc.ccded6d1-2894-47d0-afb0-c54dcd456e15",
          "type": "java.lang.String"
        },
        {
          "value": "bw.resource.jdbc.7b589788-fdc0-4e64-98a6-781fdfbcac10",
          "type": "java.lang.String"
        },
        {
          "value": "bw.resource.jdbc.78418f20-df5c-43b3-a1b8-22818a1137fa",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}