{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/mqconfiguration}MqConnectionConfiguration.4c20e24a-f0f9-4b5a-9331-6e059e8d2111",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "entframework_gpp.GPP_MQConnection",
      "type": "java.lang.String"
    },
    "QueueManagerName": {
      "name": "QueueManagerName",
      "value": "",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "AcctInfo.application",
      "type": "java.lang.String"
    },
    ".type.Port": {
      "name": ".type.Port",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "Port": {
      "name": "Port",
      "value": "\/Connections\/GPP\/Port",
      "type": "java.lang.String"
    },
    ".type.TLSEnabled": {
      "name": ".type.TLSEnabled",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.MsgComp": {
      "name": ".type.MsgComp",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": true,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/mqconfiguration}MqConnectionConfiguration",
      "type": "java.lang.String"
    },
    ".type.ServerChannel": {
      "name": ".type.ServerChannel",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "ENTFramework_GPP",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 136,
      "type": "java.lang.Long"
    },
    "Binding": {
      "name": "Binding",
      "value": "Remote",
      "type": "java.lang.String"
    },
    ".type.Binding": {
      "name": ".type.Binding",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "PoolMax": {
      "name": "PoolMax",
      "value": 10,
      "type": "java.lang.Integer"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.PoolTimeout": {
      "name": ".type.PoolTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "PoolEnabled": {
      "name": "PoolEnabled",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "SslClient": {
      "name": "SslClient",
      "value": "",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/mqconfiguration}MqConnectionConfiguration.4c20e24a-f0f9-4b5a-9331-6e059e8d2111",
      "type": "java.lang.String"
    },
    ".mprefs": {
      "name": ".mprefs",
      "value": [
        {
          "value": "Host",
          "type": "java.lang.String"
        },
        {
          "value": "Port",
          "type": "java.lang.String"
        },
        {
          "value": "Userid",
          "type": "java.lang.String"
        },
        {
          "value": "Password",
          "type": "java.lang.String"
        },
        {
          "value": "ServerChannel",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    },
    "PoolMaxUnused": {
      "name": "PoolMaxUnused",
      "value": 10,
      "type": "java.lang.Integer"
    },
    ".type.SslClient": {
      "name": ".type.SslClient",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    "NoVerify": {
      "name": "NoVerify",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "HdrComp": {
      "name": "HdrComp",
      "value": "None",
      "type": "java.lang.String"
    },
    "TLSEnabled": {
      "name": "TLSEnabled",
      "value": false,
      "type": "java.lang.Boolean"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/mqconfiguration}MqConnectionConfiguration",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    "Userid": {
      "name": "Userid",
      "value": "\/Connections\/GPP\/UserName",
      "type": "java.lang.String"
    },
    "MsgComp": {
      "name": "MsgComp",
      "value": "None",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "Password": {
      "name": "Password",
      "value": "\/Connections\/GPP\/Password",
      "type": "java.lang.String"
    },
    ".type.PoolEnabled": {
      "name": ".type.PoolEnabled",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.PoolMax": {
      "name": ".type.PoolMax",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "PoolTimeout": {
      "name": "PoolTimeout",
      "value": 30,
      "type": "java.lang.Integer"
    },
    ".type.Password": {
      "name": ".type.Password",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "Host": {
      "name": "Host",
      "value": "\/Connections\/GPP\/HostName",
      "type": "java.lang.String"
    },
    "ServerChannel": {
      "name": "ServerChannel",
      "value": "\/Connections\/GPP\/ServerChannelName",
      "type": "java.lang.String"
    },
    ".type.Host": {
      "name": ".type.Host",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.QueueManagerName": {
      "name": ".type.QueueManagerName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.Userid": {
      "name": ".type.Userid",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.PoolMaxUnused": {
      "name": ".type.PoolMaxUnused",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    ".type.NoVerify": {
      "name": ".type.NoVerify",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".sematictype.Password": {
      "name": ".sematictype.Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.HdrComp": {
      "name": ".type.HdrComp",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    }
  }
}