{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/mqconfiguration}MqConnectionConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/mqconfiguration}MqConnectionConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/palette\/mqconfiguration}MqConnectionConfiguration.4c20e24a-f0f9-4b5a-9331-6e059e8d2111",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}