{
  "pid": "bw.application.AcctInfo.application_1.0",
  "properties": {
    ".type.\/\/AcctInfo\/\/\/VCBCORE\/TransactionTimeOut": {
      "name": ".type.\/\/AcctInfo\/\/\/VCBCORE\/TransactionTimeOut",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/VCBCORE\/Url": {
      "name": "\/\/AcctInfo\/\/\/VCBCORE\/Url",
      "value": "jdbc:tibcosoftwareinc:oracle:\/\/10.1.137.62:1521;ServiceName=vcbcore",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Destinations\/Proxy\/Posting\/Add_In": {
      "name": ".type.\/\/ENTFramework\/\/\/Destinations\/Proxy\/Posting\/Add_In",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/ESB\/LoginTimeOut": {
      "name": "\/\/AcctInfo\/\/\/ESB\/LoginTimeOut",
      "value": "30",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Logging\/EnableLog": {
      "name": ".type.\/\/ENTFramework\/\/\/Logging\/EnableLog",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}boolean",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/Password": {
      "name": "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/Password",
      "value": "#!RlZs\/vsr+ybycCMV+o7kmg==",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/ENTFramework_GPP\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/AcctInfo\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/GPP\/MQ\/ServerChannelName": {
      "name": "\/\/AcctInfo\/\/\/GPP\/MQ\/ServerChannelName",
      "value": "GPP_TRAINING.CH",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/BW.MODULE.VERSION": {
      "name": "\/\/ENTFramework_GPP\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/Proxy\/AcctInfo\/Inq_Out": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/Proxy\/AcctInfo\/Inq_Out",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/AcctLookup\/Out": {
      "name": "\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/AcctLookup\/Out",
      "value": "Q_IN_VERIFY_ACCOUNT_1",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/ESB\/UserName": {
      "name": "\/\/AcctInfo\/\/\/ESB\/UserName",
      "value": "esb",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Destinations\/Proxy\/Posting\/Add_Out": {
      "name": "\/\/ENTFramework\/\/\/Destinations\/Proxy\/Posting\/Add_Out",
      "value": "vn.paymenthub.gpp.posting.add.esb.10.out",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/BW.HOST.NAME": {
      "name": ".type.\/\/AcctInfo\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "AcctInfo.application",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/Posting\/Out": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/Posting\/Out",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/HostName": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/HostName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/ServerChannelName": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/ServerChannelName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/DbUrl": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/DbUrl",
      "value": "jdbc:oracle:thin:@10.1.129.10:1521\/esb",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/ESB\/PassWord": {
      "name": ".type.\/\/AcctInfo\/\/\/ESB\/PassWord",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/VCBCORE\/Url": {
      "name": ".type.\/\/AcctInfo\/\/\/VCBCORE\/Url",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "AcctInfo.application",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/TopicConnFactory": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/TopicConnFactory",
      "value": "TopicConnectionFactory",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/VCBCORE\/UserName": {
      "name": ".type.\/\/AcctInfo\/\/\/VCBCORE\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/AcctLookupQueueOut": {
      "name": ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/AcctLookupQueueOut",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/GPP\/MQ\/AcctLookupQueueOut": {
      "name": "\/\/AcctInfo\/\/\/GPP\/MQ\/AcctLookupQueueOut",
      "value": "Q_OUT_VERIFY_ACCOUNT",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/ESB\/MaxRow": {
      "name": ".type.\/\/AcctInfo\/\/\/ESB\/MaxRow",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/AcctInfo\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/ENTFramework\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.AcctInfo.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/Proxy\/AcctInfo\/Inq_In": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/Proxy\/AcctInfo\/Inq_In",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/TopicConnFactory": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/TopicConnFactory",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/ENTFramework\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/VCBCORE\/MaxRow": {
      "name": "\/\/AcctInfo\/\/\/VCBCORE\/MaxRow",
      "value": "100",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/VCBCORE\/PassWord": {
      "name": "\/\/AcctInfo\/\/\/VCBCORE\/PassWord",
      "value": "#!h9rV9zjhixx2oyAP7bcFX5UsjuEkPi7WyO19RHGZIfM=",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/Host": {
      "name": ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/Host",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/AcctLookup\/Out": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/AcctLookup\/Out",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/BW.HOST.NAME": {
      "name": "\/\/AcctInfo\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Destinations\/Logging\/Q_Exception": {
      "name": "\/\/ENTFramework\/\/\/Destinations\/Logging\/Q_Exception",
      "value": "paymenthubexception.v10",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/MaxConn": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/MaxConn",
      "value": "10",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/GPP\/MQ\/Port": {
      "name": "\/\/AcctInfo\/\/\/GPP\/MQ\/Port",
      "value": "1414",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/UserName": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/UserName",
      "value": "esb",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/UserName": {
      "name": "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/UserName",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Destinations\/JMS_ImplLayer\/Q_Inbound": {
      "name": ".type.\/\/ENTFramework\/\/\/Destinations\/JMS_ImplLayer\/Q_Inbound",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/BW.MODULE.VERSION": {
      "name": "\/\/AcctInfo\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/ServerChannelName": {
      "name": ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/ServerChannelName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/GPP\/MQ\/AcctLookupQueueIn": {
      "name": "\/\/AcctInfo\/\/\/GPP\/MQ\/AcctLookupQueueIn",
      "value": "Q_IN_VERIFY_ACCOUNT",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/BW.DOMAIN.NAME": {
      "name": "\/\/AcctInfo\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/HostName": {
      "name": "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/HostName",
      "value": "10.1.143.154",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/ENTFramework\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Destinations\/Proxy\/Posting\/Add_In": {
      "name": "\/\/ENTFramework\/\/\/Destinations\/Proxy\/Posting\/Add_In",
      "value": "vn.paymenthub.gpp.posting.add.esb.10.in",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/Password": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/VCBCORE\/MaxConnection": {
      "name": ".type.\/\/AcctInfo\/\/\/VCBCORE\/MaxConnection",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/BW.APPNODE.NAME": {
      "name": "\/\/ENTFramework_GPP\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Destinations\/Logging\/Q_Logger": {
      "name": ".type.\/\/ENTFramework\/\/\/Destinations\/Logging\/Q_Logger",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/AcctInfo\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/VCBCORE\/MaxRow": {
      "name": ".type.\/\/AcctInfo\/\/\/VCBCORE\/MaxRow",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/sTimeout": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/sTimeout",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/BW.HOST.NAME": {
      "name": "\/\/ENTFramework_GPP\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/GPP\/MQ\/Host": {
      "name": "\/\/AcctInfo\/\/\/GPP\/MQ\/Host",
      "value": "10.1.143.154",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/ESB\/MaxRow": {
      "name": "\/\/AcctInfo\/\/\/ESB\/MaxRow",
      "value": "100",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/ENTFramework_GPP\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/BW.APPNODE.NAME": {
      "name": "\/\/AcctInfo\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/ENTFramework_GPP\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/ESB\/TransactionTimeOut": {
      "name": "\/\/AcctInfo\/\/\/ESB\/TransactionTimeOut",
      "value": "180",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/Port": {
      "name": "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/Port",
      "value": "1414",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Url": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Url",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/BW.APPSPACE.NAME": {
      "name": "\/\/ENTFramework\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/ESB\/TransactionTimeOut": {
      "name": ".type.\/\/AcctInfo\/\/\/ESB\/TransactionTimeOut",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/BW.MODULE.NAME": {
      "name": "\/\/ENTFramework\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Logging\/EnableLog": {
      "name": "\/\/ENTFramework\/\/\/Logging\/EnableLog",
      "value": "true",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/BW.DOMAIN.NAME": {
      "name": "\/\/ENTFramework\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/VCBCORE\/PassWord": {
      "name": ".type.\/\/AcctInfo\/\/\/VCBCORE\/PassWord",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/ESB\/MaxConnection": {
      "name": "\/\/AcctInfo\/\/\/ESB\/MaxConnection",
      "value": "10",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/UserName": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/QueueConnFactory": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/QueueConnFactory",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/ENTFramework_GPP\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/AcctInfo\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/sTimeout": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/sTimeout",
      "value": "60",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/QueueConnFactory": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/QueueConnFactory",
      "value": "QueueConnectionFactory",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/Password": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/Password",
      "value": "#!X6FGD+FKC614lYXvUYOE62sOeHjR6Wyh",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/VCBCORE\/LoginTimeOut": {
      "name": "\/\/AcctInfo\/\/\/VCBCORE\/LoginTimeOut",
      "value": "30",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/ESB\/PassWord": {
      "name": "\/\/AcctInfo\/\/\/ESB\/PassWord",
      "value": "#!TlbCoHMRLRXsuf+S1WSIbM8VkoTdp7Rw",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Password": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Password",
      "value": "#!4dBXAZx0R+AafmHlKX6mVQ==",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/maxRow": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/maxRow",
      "value": "100",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/BW.APPNODE.NAME": {
      "name": "\/\/ENTFramework\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/VCBCORE\/LoginTimeOut": {
      "name": ".type.\/\/AcctInfo\/\/\/VCBCORE\/LoginTimeOut",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/UserName": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/UserName",
      "value": "admin",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/ENTFramework\/\/\/Destinations\/JMS_ImplLayer\/Q_Inbound": {
      "name": "\/\/ENTFramework\/\/\/Destinations\/JMS_ImplLayer\/Q_Inbound",
      "value": "vn.billing",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/AcctLookupQueueIn": {
      "name": ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/AcctLookupQueueIn",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/BW.MODULE.NAME": {
      "name": "\/\/AcctInfo\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/AcctInfo\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/AcctLookup\/In": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/AcctLookup\/In",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/BW.HOST.NAME": {
      "name": ".type.\/\/ENTFramework\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/ENTFramework_GPP\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Url": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Url",
      "value": "tibjmsnaming:\/\/10.1.139.26:7222",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/VCBCORE\/TransactionTimeOut": {
      "name": "\/\/AcctInfo\/\/\/VCBCORE\/TransactionTimeOut",
      "value": "180",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/ESB\/UserName": {
      "name": ".type.\/\/AcctInfo\/\/\/ESB\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/ESB\/Url": {
      "name": ".type.\/\/AcctInfo\/\/\/ESB\/Url",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Destinations\/Proxy\/Posting\/Add_Out": {
      "name": ".type.\/\/ENTFramework\/\/\/Destinations\/Proxy\/Posting\/Add_Out",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/sLoginTimeout": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/sLoginTimeout",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/Posting\/In": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/Posting\/In",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Destinations\/Logging\/Q_Exception": {
      "name": ".type.\/\/ENTFramework\/\/\/Destinations\/Logging\/Q_Exception",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/BW.HOST.NAME": {
      "name": ".type.\/\/ENTFramework_GPP\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/ENTFramework\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/MaxConn": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/MaxConn",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Destinations\/Proxy\/AcctInfo\/Inq_Out": {
      "name": "\/\/ENTFramework_GPP\/\/\/Destinations\/Proxy\/AcctInfo\/Inq_Out",
      "value": "vn.paymenthub.gpp.acctinfo.inq.esb.10.out",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/VCBCORE\/MaxConnection": {
      "name": "\/\/AcctInfo\/\/\/VCBCORE\/MaxConnection",
      "value": "10",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/BW.APPSPACE.NAME": {
      "name": "\/\/AcctInfo\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/ESB\/Url": {
      "name": "\/\/AcctInfo\/\/\/ESB\/Url",
      "value": "jdbc:tibcosoftwareinc:oracle:\/\/10.1.129.10:1521;ServiceName=esb",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/sLoginTimeout": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/sLoginTimeout",
      "value": "30",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/ENTFramework\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Destinations\/Logging\/Q_Logger": {
      "name": "\/\/ENTFramework\/\/\/Destinations\/Logging\/Q_Logger",
      "value": "paymenthublog.v10",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/maxRow": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/maxRow",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/ServerChannelName": {
      "name": "\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/ServerChannelName",
      "value": "GPP_TRAINING.CH",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Password": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/Port": {
      "name": ".type.\/\/AcctInfo\/\/\/GPP\/MQ\/Port",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/UserName": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Timeout": {
      "name": "\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Timeout",
      "value": "60",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/BW.DOMAIN.NAME": {
      "name": "\/\/ENTFramework_GPP\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/ENTFramework\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/Posting\/In": {
      "name": "\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/Posting\/In",
      "value": "Q_OUT_POSTING",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/BW.APPSPACE.NAME": {
      "name": "\/\/ENTFramework_GPP\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/Posting\/Out": {
      "name": "\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/Posting\/Out",
      "value": "Q_IN_POSTING",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/ENTFramework_GPP\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/BW.HOST.NAME": {
      "name": "\/\/ENTFramework\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/Password": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/ESB\/MaxConnection": {
      "name": ".type.\/\/AcctInfo\/\/\/ESB\/MaxConnection",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/\/VCBCORE\/UserName": {
      "name": "\/\/AcctInfo\/\/\/VCBCORE\/UserName",
      "value": "vcbview1",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework\/\/BW.MODULE.VERSION": {
      "name": "\/\/ENTFramework\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/DbUrl": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/DbUrl",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/AcctLookup\/In": {
      "name": "\/\/ENTFramework_GPP\/\/\/Destinations\/GPP\/AcctLookup\/In",
      "value": "Q_OUT_VERIFY_ACCOUNT_1",
      "type": "java.lang.String"
    },
    ".type.\/\/AcctInfo\/\/\/ESB\/LoginTimeOut": {
      "name": ".type.\/\/AcctInfo\/\/\/ESB\/LoginTimeOut",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/\/Destinations\/Proxy\/AcctInfo\/Inq_In": {
      "name": "\/\/ENTFramework_GPP\/\/\/Destinations\/Proxy\/AcctInfo\/Inq_In",
      "value": "vn.paymenthub.gpp.acctinfo.inq.esb.10.in",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Timeout": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/EMS\/Timeout",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/UserName": {
      "name": ".type.\/\/ENTFramework\/\/\/Connections\/SOA\/Database\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/Port": {
      "name": ".type.\/\/ENTFramework_GPP\/\/\/Connections\/GPP\/Port",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    "\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/AcctInfo\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/ENTFramework_GPP\/\/BW.MODULE.NAME": {
      "name": "\/\/ENTFramework_GPP\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    }
  }
}